
html,body{
  height: 100%;
  width: 100%;
}

/*start  nav */
.navbar{
  background-color: #6C5B7B ;
  padding: 1% 0;
  font-size: 1.2em;
}
.navbar-brand{
  min-height: 50px;
  padding: 0 20px 5px;

}

.navbar-nav li{
  display: inline-block;
  margin-left: 20px;
}
.navbar-nav li a{
  color: black;
  text-decoration: none;
  font-size: 90%;
  font-weight: bold;
}
.navbar-nav li a:hover{
  color:#e67e22;
  border-bottom: 2px solid #e67e22;
  transition: all 0.3s ease-in;
  padding: 15px ;
}


/* end  nav */

/* start home  */
#home{
  background: url("img/head.jpg") no-repeat center center fixed;
  display: table;
  height: 100%;
  width: 100% ;
  position: relative;
  background-size: cover;

}

.landing-text{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

landing-text h1{
  font-size: 500%;
  font-weight: 700;
}

/* End home  */


/* service   */
.card{
      margin-top:30px;
      margin-bottom:20px;
      position: relative;
    }

  a{
      color: white;
      font-size: 20px;
      font-family: sans-serif;
    }

.row{
 margin: auto;
}


.section-title {
    	font-size: 4rem;
    	font-weight: 300;
    	color: black;
    	margin-bottom: 10px;
    	text-transform: uppercase;
    	letter-spacing: .2rem;
    	text-align: center;
    }

.section-title span {
    	color: crimson;
    }

#services .services {
    	flex-direction: column;
    	text-align: center;
    	max-width: 1500px;
    	margin: 0 auto;
    	padding: 100px 0;
    }
#services .service-top {
    	max-width: 500px;
    	margin: 0 auto;
    }


/* End service   */


/* start About  */
.padding{
  padding: 80px 0;
}

.padding img{
  width: 100%;
  height: 100%;
}


/* End About  */




/* start footer  */
footer{
  width: 100%;

  padding: 5% 5% 5% 5%;
  color: #FFF;
  font-size: 10px;
  font-family: 'Dosis', sans-serif;


    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.fa{
  padding: 15px;
  font-size: 25px;
  color: #FFF;

}


.icon{
  max-width: 200px;
}
@@media(max-width :780px;) {
  .landing-text h1{
    font-size: 300;
  }
}
/* End footer */
