
html,body{
  height: 100%;
  width: 100%;
}

/*start  nav */
.navbar{
  background-color: #6C5B7B ;
  padding: 1% 0;
  font-size: 1.2em;
}
.navbar-brand{
  min-height: 50px;
  padding: 0 20px 5px;

}

/*End  nav */

/* start Profile */

  #Header a:hover{
  color: #fff;
  }

  #About{
    margin-top: 3%;

  }

  #About span{
    padding: 10px 20px 10px 20px ;
  }

  /* End Profile */


/* start Bookoing profile */

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px;
}



 .title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px ;
    color: black;
    text-transform: uppercase;
    text-align: center;

  }
  .container{
    margin-top: 20px;
  }



  tr:hover {
    background-color: #f5f5f5;
  }
/* end Bookoing profile */
